html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

header,
footer {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

.calculator {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 90%;
    max-height: 700px;
    max-width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    flex-grow: 1;
}

#buttonContainer {
    box-sizing: border-box;
    padding: 2%;
    height: 90%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 1%;
}

.calculator button {
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 5px #999;
}

.calculator button:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

#display {
    width: 85%;
    box-sizing: border-box;
    font-size: 48px;
    text-align: right;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
    height: 120px;
}


.numberButton,
.operateButton,
.decimalButton,
.evaluateButton {
    box-sizing: border-box;
    width: 24%;
    height: 100px;
}

.operateButton,
.evaluateButton {
    box-sizing: border-box;
    background-color: lightblue;
}

.clearButton {
    box-sizing: border-box;
    background-color: lightcoral;
    height: 50px;
    width: 49%;
}